<div class="list-group list-group-flush">
    <a href="{% url 'dashboard' %}" class="list-group-item">Dashboard</a>
    <a href="{% url 'inventory' %}" class="list-group-item">Inventory</a>
    <a href="{% url 'rent_cloth' %}" class="list-group-item">Rent Cloth</a>
    <a href="{% url 'return_cloth' %}" class="list-group-item">Return Cloth</a>
    <a href="{% url 'reports' %}" class="list-group-item">Reports</a>
    <a href="{% url 'change_password' %}" class="list-group-item">Change Password</a>
</div>